@import "root.css";

.topoArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 15px;
    background-color: var(--background-color-main);
    align-items: center;
}

.topoArea_logo_Link {
    color: var(--color-white);
    padding: 7px 10px;
}

    .topoArea_logo_Link:hover {
        background: var(--background-color-main_hover);
        color: var(--color-white)
    }


.topoArea_menu_link {
    color: var(--color-white);
    padding: 7px 10px;
}

    .topoArea_menu_link:hover {
        background: var(--background-color-main_hover);
        color: var(--color-white);
        border-radius: 0.3rem;
    }
