<div class="row mb-3">
    <div class="col">
        <div class="divTitulo">
            <h1>Nossa Loja - Sejam bem-vindos</h1>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="mb-0">Nossos Produtos</h2>
            <hr class="divisoria" />
        </div>
    </div>
    <div class="col">
        <div style="text-align: justify">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
        </div>
    </div>
</div>






@section Styles{
    <link href="~/css/home.css" rel="stylesheet" />
}