@model Cadastro.Application.DTO.ProdutoDTO

<div class="row pt-2 mb-3">
    <div class="col">
        <div class="pageSubTitle d-flex justify-content-between align-items-center">
            <h2 class="m-0">Cadastro de Produtos</h2>
            <a class="linkVoltar" asp-controller="Produtos" asp-action="Index">Voltar</a>
        </div>
    </div>
</div>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<form asp-action="Criar" method="post">
    <div class="row mb-2">
        <div class="col-3">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" placeholder="Nome" maxlength="70" />
        </div>
        <div class="col-3 pe-1 ps-1">
            <label asp-for="Empresa"></label>
            <input asp-for="Empresa" class="form-control" placeholder="Empresa" maxlength="70" />
        </div>
        <div class="col-2 pe-1 ps-1">
            <label asp-for="NumeroRegristro"></label>
            <input asp-for="NumeroRegristro" class="form-control" placeholder="Registro" maxlength="70" />
        </div>
        <div class="col-2 pe-1 ps-1">
            <label asp-for="DataValidade"></label>
            <input asp-for="DataValidade" class="form-control"  required />
        </div>
        <div class="col-2 ps-1">
            <label asp-for="Preco"></label>
            <input type="number" asp-for="Preco" required class="form-control" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <section class="d-flex justify-content-end">
                <input type="submit" value="Adicionar" class="btn btn-primary me-2" />
                <a asp-action="Index" class="btn btn-danger">Voltar</a>
            </section>
        </div>
    </div>
</form>



@section Styles{
    <link href="~/css/produtos.css" rel="stylesheet" />
}